/* Fil rouge : selecteur dimensions couleurs*/
/* Texte */
/* Background */
/* Boxes */
/* Positionning */
/* Flex */
/* Grid */
/* Pseudo Classe */
/* Debug */
/* Responsive */

/*Texte*/
/*Si on veut importer des fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/*Si on veut avoir la police dans notre projet*/
@font-face {
  font-family: "font-1";
  /*important permet de factoriser les nommages de police*/
  src: url(./assets/Fruktur-Regular.ttf);
}

/*création d'un selecteur général sur tous les éléments*/
/*
* {
  margin: 0px;
  padding: 0px;
}
*/

body {
  font-family: "font-1", serif;
  /*background: darkgray;*/
  background: url(./assets/bg.jpg) center/cover;
  height: 100vh;
}

h1 {
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
  font-size: 2.5rem;
  /*font-family: "Dancing Script", cursive;*/
  color: darkblue;
  text-shadow: 2px 2px 5px rgb(18, 153, 153);
  text-align: center;
}
/*choix des polices = google font*/

/*https://www.pexels.com/fr-fr/ banque d'images gratuites
https://pixabay.com/fr/
*/

main {
  background: yellowgreen;
  width: 80%;
  min-height: 500px;
  margin: 10px auto; /*marge haut bas + gauche droite -- autour de la boite*/
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: red 1px 2px 0px 0px;
}

.flexbox,
.positioning {
  border: 2px solid blue;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

/*********************** Positioning **************************/
.positioning {
  position: relative;
}

/*définir des valeurs par default sur tous les h2 */
h2 {
  margin: 0px;
}

#circle {
  height: 80px;
  width: 80px;
  background: yellow;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;

  z-index: 0; /* sert a passrr par dessus ou derriere*/
}

#rectangle {
  height: 20px;
  width: 80px;
  padding: 0px;
  background: rgb(255, 94, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*********************** flexbox **************************/
ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

li {
  list-style-type: none;
  font-size: 0.7em;
  height: 160px;
  width: 220px;
  background: white;
  /* centrer verticalement*/
  display: flex;
  align-items: center;
  justify-content: center;
}
